<div class="custom-field-wrapper" [class.has-error]="touched() && invalid()">
    <div class="custom-input-box">
        <span class="icon">✨</span>
        <input type="text" class="modern-input" placeholder="Escribe aquí para reflejar en el padre"
            (input)="updateValue($event)" />
    </div>

    @if (touched() && invalid()) {
    <div class="error-container">
        @for (error of errors(); track error.message) {
        <span class="error-msg">❌ {{ error.message }}</span>
        }
    </div>
    }
</div>